* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primary: #121212;
    --secondary: rgba(245, 245, 245, 0.861);
    --dark: #98989854;
    --light: #ffffff9c;
}

body {
    background: var(--primary);
    font-size: 1.6rem;
    color: var(--secondary);
}

.container {
    display: flex;
    height: 100vh;
    margin-left: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-text p {
    border-top: 2px solid transparent;
    padding-top: 10px;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    color: rgba(255, 192, 203, 0.776);
    border-right: 3px solid rgba(255, 192, 203, 0.776);
    padding-right: 10px;
    user-select: none;
}

.container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    color: rgba(245, 245, 245, 0.84);
    user-select: none;
}

.container-text a {
    color: rgba(255, 192, 203, 0.776);
    text-decoration: none;
    font-size: 1.6rem;
    transition: 0.3s;
}

.rtf {
    display: inline;
    letter-spacing: 3px;
}

/*icons for social media*/

.icons {
    display: flex;
    column-gap: 25px;
    margin-top: 100px;
}

.icon {
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}

.icon:hover {
    outline-offset: 4px;
}

.icon:hover i {
    animation: shake .25s;
}

.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
    outline-color: #a02d76;
}

.icon--github:hover {
    background-color: #2e8aa4;
    outline-color: #2e98a4;
}

.icon--spotify:hover {
    background-color: #1ED760;
    outline-color: #1ED760;
}