* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primary: #121212;
    --secondary: rgba(245, 245, 245, 0.861);
    --dark: #98989854;
    --light: #ffffff9c;
}

body {
    background: var(--primary);
    font-size: 1.6rem;
    color: var(--secondary);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 12px;
}

.container-text p {
    border-top: 2px solid transparent;
    padding-top: 10px;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    color: rgba(255, 192, 203, 0.776);
    border-right: 3px solid rgba(255, 192, 203, 0.776);
    padding-right: 10px;
    user-select: none;
}

.container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    color: rgba(245, 245, 245, 0.84);
    user-select: none;
}

.container-text a {
    color: rgba(255, 192, 203, 0.776);
    text-decoration: none;
    font-size: 1.6rem;
    transition: 0.3s;
}

.rtf {
    display: inline;
    letter-spacing: 3px;
}

.git {
    display: inline;
    position: relative;
    padding-bottom: 0.2rem;
}

.git::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgba(245, 245, 245, 0.84);
    transition: width 0.25s ease-out;
}

.git:hover::before {
    width: 100%;
}

.instagram {
    display: inline;
    position: relative;
    padding-bottom: 0.2rem;
}

.instagram::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgba(245, 245, 245, 0.84);
    transition: width 0.25s ease-out;
}

.instagram:hover::before {
    width: 100%;
}